* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: #333;
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#container {
  border: 1px solid #ccc;
  padding: 20px;
}

#question {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

#timer {
  text-align: center;
  font-weight: bold;
}

#start {
  text-align: center;
  margin-top: 20px;
  display: block;
  margin: 10px auto;
}
